In [ ]:
!pip install transformers

## Tokenization

In [ ]:
from transformers import AutoTokenizer

In [ ]:
bert = "bert-base-cased"
xlmr = "xlm-roberta-base"
bert_tokenizer = AutoTokenizer.from_pretrained(bert)
xlmr_tokenizer = AutoTokenizer.from_pretrained(xlmr)

Compare BERT and XLM-R tokenization

In [ ]:
text = "London weather like UAE nowadays. Day long."
bert_tokens = bert_tokenizer(text.lower()).tokens()
xlmr_tokens = xlmr_tokenizer(text.lower()).tokens()
bert_tokens, xlmr_tokens

(['[CLS]',
  'lo',
  '##ndon',
  'weather',
  'like',
  'u',
  '##ae',
  'nowadays',
  '.',
  'day',
  'long',
  '.',
  '[SEP]'],
 ['<s>',
  '▁london',
  '▁weather',
  '▁like',
  '▁u',
  'a',
  'e',
  '▁nowa',
  'day',
  's',
  '.',
  '▁day',
  '▁long',
  '.',
  '</s>'])

In [ ]:
pd.DataFrame([bert_tokens, xlmr_tokens],
             ["bert", "xlmr"])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
bert,[CLS],lo,##ndon,weather,like,u,##ae,nowadays,.,day,long,.,[SEP],None,None
xlmr,<s>,▁london,▁weather,▁like,▁u,a,e,▁nowa,day,s,.,▁day,▁long,.,</s>

XLM-R uses SentencePiece tokenization. That means Unigram subword tokenization applied and each input text encoded as a sequence of Unicode characters.
It can be seen that with SentencePiece tokenization whitespaces are kept while in BERT model they are lost after tokenization.

BERT standard tokens [CLS] and [SEP] replaces with < s > and < /s >